.section-two {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr 1fr;
    grid-template-columns: 1fr minmax(min-content, calc($widthPage - $widthEdgePage - $widthEdgePage)) 1fr;
    background: #FFFFFF;
    position: relative;
}