/* Перемменная краев */
$widthEdgePage: 336px;
/* Переменная ширины страницы */
$widthPage: 1922px;
/* Переменная для фона первой секции */
$bcgColorOne: #F2F2F2;
/* Размеры кнопок header */
$widthButtonHeader: 174px;
$heightButtonHeader: 50px;
/* Переменная цвета текста и обводки кнопки */
$colorPage: #58595B;
/* Цвет при наведении */
$colorHover: #E04E39;
/* Размеры кнопок header */
$widthButtonSection: 257px;
$heightButtonSection: 60px;
/* Отступы по краям страницы */
$paddingPage: 0 336px;
/* Цвет заголовков */
$colorTitle: #000000;
/* Цвет ссылки */
$colorLink: #C39367;