.menu-button__span {
    display: none;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: $colorPage;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 18px;
        }
        &:nth-child(3) {
            top: 36px;
        }
        .menu-button:hover & {
            background: $colorHover;
        }
        .menu-button.menu-button_active &:nth-child(1){
            top: 18px;
            transform: rotate(135deg);
        }
        .menu-button.menu-button_active &:nth-child(2){
            opacity: 0;
            left: -60px;
        }
        .menu-button.menu-button_active &:nth-child(3){
            top: 18px;
            transform: rotate(-135deg);
        }
    }
}