.header {
    display: flex;
    align-items: center;
    margin: 13px 0 0 0;
    grid-column: 2;
    gap: 0 278px;
    max-width: 100%;
    @media screen and (max-width: 1280px) and (min-width: 769px) {
        gap: 0 45px;
        justify-content: space-around;
    }
}